In [7]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
# Index Levels

outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])
df

             A         B
G1 1 -1.201596  0.527121
   2 -1.438476 -0.687429
   3 -0.252447 -0.389763
G2 1  1.003079 -0.238455
   2  0.354609  1.814154
   3  2.766643 -0.849668

In [10]:
df.loc['G1']

          A         B
1 -1.201596  0.527121
2 -1.438476 -0.687429
3 -0.252447 -0.389763

In [12]:
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1   -1.201596  0.527121
       2   -1.438476 -0.687429
       3   -0.252447 -0.389763
G2     1    1.003079 -0.238455
       2    0.354609  1.814154
       3    2.766643 -0.849668

In [14]:
df.loc['G2'].loc[2]['B']

1.8141538576004455

In [15]:
df.xs(1, level = 'Num')

               A         B
Groups
G1     -1.201596  0.527121
G2      1.003079 -0.238455